@model Simulacion_Manufactura.Models.Simaulacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Simaulacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMeses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMeses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioFabricacionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioFabricacionProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantProduccionHorasDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantProduccionHorasDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantProductosDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantProductosDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMaquina1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMaquina1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoHoraMaquina1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoHoraMaquina1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GananciaRealMaquina1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GananciaRealMaquina1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GananciaBrutoMaquina1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GananciaBrutoMaquina1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMaquina2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMaquina2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoHoraMaquina2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoHoraMaquina2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GananciaRealMaquina2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GananciaRealMaquina2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GananciaBrutoMaquina2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GananciaBrutoMaquina2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaquinaRecomnedada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaquinaRecomnedada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create">Back to Simulacion</a>
</div>
