@model IEnumerable<Simulacion_Manufactura.Models.Simaulacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CantidadHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantProduccionHorasDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantProductosDia)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMaquina1)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductoHoraMaquina1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GananciaRealMaquina1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GananciaBrutoMaquina1)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IdMaquina2)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductoHoraMaquina2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GananciaRealMaquina2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GananciaBrutoMaquina2)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CantidadHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantProduccionHorasDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantProductosDia)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdMaquina1)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductoHoraMaquina1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GananciaRealMaquina1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GananciaBrutoMaquina1)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdMaquina2)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductoHoraMaquina2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GananciaRealMaquina2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GananciaBrutoMaquina2)
            </td>*@
            <td>
                @Html.ActionLink("Details", "Details", item) |
            </td>
        </tr>
}
    </tbody>
</table>
