@model Simulacion_Manufactura.Models.Maquina

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProdHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProdHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProbabilidadFallo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProbabilidadFallo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="DeleteMaquina">
        <input asp-for="Id" class="form-control" readonly />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
